.black-butt,
.yellow-butt{
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}


.black-butt{
    background-color: #000;
    color: white;
}

.yellow-butt{
    background-color: #ff0;
}

